
@{
    ViewBag.Title = "Error";
}

<h2>Error</h2>

<div class="error-content">
    <h3><i class="glyphicon glyphicon-warning-sign"></i>Usted no tiene acceso a esta sección.</h3>

    <p>
        Consulte con el Administrador del Sistema para que le proporcione los accesos solicitados.
        Por ahora debe retornar al <a href="/Home/Index">Inicio</a>.
    </p>

</div>
